@page
@model Henry.Pages.LogIn.LogInNeedAdminModel
@{
    ViewData["Title"] = "Admin Rettighed Fejl";
}

<h1>Denne handling kræver administrator rettigheder.</h1>

<a asp-page="/Index">Tilbage til frontpage</a>