@page "{id:int}"
@model Henry.Pages.Blogs.DeleteBlogModel
@{
    ViewData["Title"] = "Slet blog"; 
}

<h1>Slet blog</h1>
<form method="post">
    <div class="form-group">
        <label>Blog ID</label> : @Model.DeleteBlog.Id <br />
        <label>Blog Titel</label> : @Model.DeleteBlog.Title <br />
        <input type="submit" asp-page-handler="Delete" asp-route-number="@Model.DeleteBlog.Id" value="Slet blog" />
    </div>
</form>