@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Hillerød Sejlklub</h1>
    <h4>"Vi sejler ikke fordi der er et hav, men fordi der er en havn" - Carsten Jensen</h4>
    <img src="~/Imgs/IndexImages/Hillerød sejlklub.jpg" width="1000" height="600"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
